---
services:
  radarr:
    image: lscr.io/linuxserver/radarr:latest
    container_name: radarr
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/Chicago
    volumes:
      - ./config:/config
      - /mnt/public/Videos/:/videos 
      - /mnt/tyler/videos/MakeMKV:/makemkv 
    #ports:
      #- 7878:7878
    restart: unless-stopped

networks:
  default:
    name: radarr
    external: true
